@charset "UTF-8";

html {
	scroll-behavior: smooth;
	background-color: rgb(212, 212, 212);
	background-image: url("image/maptile_sogen_01.png");
	background-size: 50px;
}

body {
	font-family: "DotGothic16", sans-serif;
}

.wrapper {
	align-items: center;
	text-align: center;
}

a:hover {
	color: rgb(0, 128, 255);
	border-bottom: 2px dashed rgb(0, 128, 255);
}


/*ヘッダー*/

header {
	background-color: rgb(0, 0, 193);
	height: 180px;
	border-bottom: 10px dashed white;
	color: white;
}

header a:hover {
	color: rgb(255, 255, 255);
	border-bottom: 1px dashed rgb(255, 255, 255);
}

.sp {
	font-size: 46px;
	color: rgb(255, 0, 0);
}


nav {
	text-align: center;
	margin: 0 240px 0;
}

nav h1 {
	font-size: 48px;
}

nav ul {
	display: flex;
	justify-content: center;
	margin-left: auto;
	gap: 1rem;
}

nav ul li {
	padding: 20px;
	font-size: 32px;
	margin-top: 20px;
	letter-spacing: 0.5rem;
	display: flex;
	position: relative;
}

nav ul li img {
	width: 40px;
	height: 40px;
	display: none;
	position: absolute;
	top: 20px;
	left: -20px;
}

nav ul li:hover img {
	display: block;

}

/*メイン*/

/*プロフィール*/

#profile {
	text-align: left;
	height: fit-content;
	font-size: 18px;
	margin: 0 15% 30px;
}

#profile h1 {
	font-size: 32px;
}

.profile-top {
	border: dashed 2px rgb(255, 255, 255);
	border-radius: 10px;
	display: flex;
	text-align: center;
	align-items: center;
	margin: 40px auto 0;
	padding: 10px 0 10px 0;
	justify-content: center;
	gap: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
}

.profile-top img {
	width: 40px;
	height: 60px;
}

.profile-top img:hover {
	transform: translateY(-5px);
}

.item1 {
	display: flex;
	line-height: 3rem;
	margin-top: 30px;
	gap: 20px;
	height: fit-content;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 10px;
	padding-left: 5%;
}

.item1 h2 {
	font-size: 24px;
	color: rgb(214, 41, 46);
}

.text1 {
	margin-top: 20px;
}

.contents-profile,
.contents-text {
	padding-top: 20px;
}

.contents-profile {
	width: 35%;
	border-right: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	color: white;
}

.contents-text {
	width: 65%;
}

.contents-text p {
	text-align: left;
}

.contents-text-item {
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 30px;
	padding: 20px;
}

/*スキル*/

#skill {
	align-items: center;
	text-align: center;
	font-size: 18px;
	margin: 0 15% 0;
}

#skill h1 {
	font-size: 32px;
}

.skill-top {
	border: dashed 2px rgb(255, 255, 255);
	border-radius: 10px;
	display: flex;
	text-align: center;
	align-items: center;
	margin: 40px auto 0;
	padding: 10px 0 10px 0;
	justify-content: center;
	gap: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
}

.skill-top img {
	width: 50px;
	height: 50px;
}

.skill-top img:hover {
	transform: translateY(-5px);
}

.skill-li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin-top: 30px;
	margin-bottom: 40px;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 10px;
	padding-bottom: 40px;
}

.skill-item {
	width: 45%;
	margin-top: 3rem;
	margin-bottom: 1rem;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 10px;
}

.skill-item h2 {
	text-align: left;
	font-size: 24px;
	color: rgb(214, 41, 46);
}

.skill-item ul {
	margin-top: 1.5rem;
}

.skill-item ul li {
	line-height: 2rem;
	list-style: inside;
	text-align: start;
}

.works li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.skill-item ul li a {
	color: steelblue;
}

/*お問い合わせ*/

#contact {
	text-align: center;
	font-size: 18px;
	margin: 0 15% 0;
	line-height: 3rem;
	margin-bottom: 40px;
}


#contact table {
	border-collapse: separate;
	border-spacing: 0;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	table-layout: fixed;
}


#contact th {
	width: 25%;
	min-width: 120px;
	text-align: left;
	padding: 12px 10px;
	vertical-align: middle;
	color: white;
}

#contact td {
	width: 75%;
	padding: 12px 10px;
	vertical-align: middle;
	color: white;
}

#contact table tr {
	border: none;
}

.contact-top {
	display: flex;
	text-align: center;
	align-items: center;
	margin: 30px auto 30px;
	padding: 10px 0 10px 0;
	justify-content: center;
	gap: 10px;
	border: dashed 2px rgb(255, 255, 255);
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
}

.contact-top img {
	width: 60px;
	height: 40px;
}

.contact-top img:hover {
	transform: translateY(-5px);
}

.contact-form {
	padding-bottom: 20px;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 10px;
}

#contact h1 {
	font-size: 32px;
}

#contact input {
	border: 1.5px solid rgb(255, 255, 255);
	border-radius: 10px;
}

.contact-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.box {
	text-align: left;
}

#contact .box,
#contact textarea {
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
}

#contact textarea {
	border: 1.5px solid rgb(255, 255, 255);
	border-radius: 10px;
	text-align: left;
	height: 10rem;
}

.gender {
	border: 1.5px solid rgb(255, 255, 255);
	border-radius: 10px;
	text-align: center;
	width: 100%;
	padding: 5px 10px;
	height: 50px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	column-gap: 8px;
	gap: 20px;
	margin-top: 10px;
}

label {
	display: flex;
	position: relative;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

label:hover {
	color: blue;
	border-bottom: 1px dashed blue;
}

.gender input[type="radio"] {
	margin: 0;
	vertical-align: middle;
}

label img {
	width: 23px;
	height: 35px;
	display: none;
	position: absolute;
	top: -5px;
	left: -30px;
}

label:hover img {
	display: block;
}

#contact .text-area {
	text-align: left;
}

.sub-pare {
	text-align: center;
}

.sub {
	margin-top: 20px;
	text-align: center;
	width: 10%;
	background-color: rgb(255, 0, 0);
	border-radius: 15%;
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
	transform: translateY(-4px);
}

.sub:hover {
	transition: .5s;
	box-shadow: none;
	transform: translateY(0);
}

/*フッター*/

footer {
	height: 120px;
	background-color: rgb(0, 0, 193);
	border-top: 10px dashed white;
}

footer p {
	text-align: center;
	padding-top: 80px;
}